$primary-color: rgb(140, 93, 0);
$secondary-color: lightslategray;



body {
  background-color: $secondary-color;
}

.main-container {
  border: 5px solid $primary-color;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-top: -7%;
  background-color: white;
  flex-direction: column;
    display: inline-flex;
    justify-content: flex-end;
        margin-left: 8%;
 }

  .logoContainer {
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   margin-left: 20%;
    width: 79%;
    margin-bottom: 3%;
  }

.messageArea {
  border: 3px solid $primary-color;
    width: 99%;
}
